<nav id="primary-nav">
  <div id="inner-nav">
    <ul>
     <li><a href="{{ "/" | url }}">Syllabus</a></li>
     <li><a href="{{ "/schedule" | url }}">Schedule</a></li>
     <li>
      <a href="{{ "/projects" | url }}">Projects</a>
  </li>
  <li>
      <a href="{{ "/exercises/" | url }}">Exercises</a>
  </li>
  <li>
    <hr/>
    <a href="#">Resources</a>
      <ul>
            <li><a href="{{"/resources/wireframes/" |url}}">Wireframes</a></li>
            <li><a href="{{"/resources/sitemap/" |url}}">Sitemap</a></li>
            <li><a href="{{"/resources/images-icons/" |url}}">Stock Images and Icons</a></li>
            <li><a href="{{"/resources/web-fonts/" |url}}">Web Fonts</a></li>
            <li><a href="{{ "/resources/javascript/" | url }}">JavaScript</a></li>
      </ul>
    <!--
      <li><a href="{{ "/resources/javascript/slideshow1/" | url }}">Slideshow</a></li>
          <li>
            <strong>Advanced Topics</strong>
            <ul>
              <li><a href="{{ "/resources/business-of-design/" | url }}">The Business of Design</a></li>
            </ul>
        </li>
        -->
        <li>
          <a href="#">Lessons</a>
          <ul>
            <li><a href="{{ "/lessons/mamp/" | url }}">MAMP</a></li>
            <li><a href="{{ "/lessons/file-includes/" | url }}">PHP File Includes</a></li>
            <li><a href="{{ "/lessons/ftp/" | url }}">FTP</a></li>
            <li><a href="{{ "/lessons/animation/" | url }}">Animation</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
