<nav id="primary-nav">
  <div id="inner-nav">
    <ul>
     <li><a href="{{ "/" | url }}">Syllabus</a></li>
     <li><a href="{{ "/schedule" | url }}">Schedule</a></li>
     <li>
      <a href="{{ "/projects" | url }}">Projects</a>
<!--
      <ul>
          <li><a href="{{ "/projects/project-1/" | url }}">Project 1</a></li>
          <li><a href="{{ "/projects/project-2/" | url }}">Project 2</a></li>
          <li><a href="{{ "/projects/project-3/" | url }}">Project 3</a></li>
      </ul>
-->
  </li>
  <li>
      <a href="{{ "/assignments/" | url }}">Assignments</a>
      <!-- 
      <ul>
        <li><a href="{{ "/assignments/01/" | url }}">Flexbox Exercise</a></li>
        <li><a href="{{ "/assignments/02/index" | url }}">Two-Column Grid</a></li>
        <li><a href="{{ "/assignments/03/" | url }}">Web Font</a></li>
        <li><a href="{{ "/assignments/04/" | url }}">Responsive Layout</a></li>
        <li><a href="{{ "/assignments/bootstrap" | url }}">Bootstrap Layout</a></li> 
      </ul>
      -->
  </li>
  <li>
    <hr/>
    <a href="#">Resources</a>
    <!--
      <ul>
        <li><a href="{{ "/resources/file-includes/" | url }}">File Includes in PHP</a></li>
          <li>
              <strong>JavaScript</strong>
              <ul>
                <li><a href="{{ "/resources/javascript/" | url }}">JavaScript</a></li>
                <li><a href="{{ "/resources/javascript/animation/" | url }}">Animation</a></li>
                <li><a href="{{ "/resources/javascript/slideshow1/" | url }}">Slideshow</a></li>
              
              </ul>
          </li>
          <li>
            <strong>Advanced Topics</strong>
            <ul>
              <li><a href="{{ "/resources/business-of-design/" | url }}">The Business of Design</a></li>
            </ul>
        </li>
        -->
        <li>
          <hr/>
          <a href="#">Lessons</a>
        </li>
      </ul>
  </div>
</nav>
