---
const title = "Exercises";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <h3>PHP File Includes</h3>
  <p>
    Using instructions on <a
      href={`${import.meta.env.BASE_URL}lessons/file-includes/`}
      >PHP file includes</a
    >, try scaffolding out some pages for your Project 1 using file includes.
    For this exercise, it can be as simple as a header and footer file that you
    include on each page.
  </p>

  <div class="links">
    <h3>Links:</h3>
    <ul>
      <li>
        <a target="_blank" href="https://www.php.net/"
          >The official manual on PHP</a
        >
      </li>
      <li><a target="_blank" href="https://www.learn-php.org">Learn PHP</a></li>
      <li>
        <a target="_blank" href="https://www.w3schools.com/php/"
          >W3 Schools tutorial on PHP</a
        >
      </li>
    </ul>
  </div>
  <!--
<h2>JavaScript Dark/Light mode</h2>
<p>Using what you've learned of JavaScript thus far, create a Light/Dark mode toggle for a page.</p>
<p>Use the links below to learn, but consider how you can improve upon those examples. Perhaps you use a switch or icons to toggle. Maybe include cookies to remember the user's choice. Perhaps use <a href="https://www.w3schools.com/css/css3_transitions.asp">CSS transitions</a> to gently transition.</p>

<div class="links">
<h3>Links:</h3>
<ul>
    <li><a target="_blank" href="https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/">A Complete Guide to Dark Mode on the Web </a></li>
    <li><a target="_blank" href="https://chriscoyier.net/2023/01/19/dark-mode-via-a-smallish-script-in-the-head-avoiding-fart/">Dark Mode via a Smallish Script in the Head, Avoiding FART</a></li>
    <li><a target="_blank" href="https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp">How TO - Toggle Dark Mode</a></li>
</ul>
</div>
-->
</Layout>
