---
const title = "Exercises";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <h3>Conditional Statements, Arrays, and Loops</h3>
  <ul>
    <li>
      Ask the user for their age. Use an if statement to display different
      alerts based on whether they are a minor (under 18), an adult (18 to 64),
      or a senior(65+).
    </li>
    <li>
      Create an array of colors and use a loop to display each color on the page
    </li>
  </ul>
</Layout>
