---
const title = "Exercises";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
   <h3>Local WordPress site</h3>
<p>This will be an in-class exercise. You will be expected to:</p>
<ul>
  <li>
    Get a local installation working using
    <a href="https://developer.wordpress.com/studio/">WordPress Studio</a>
  </li>
  <li>Create and publish a page and a post as an admin</li>
  <li>Add a link to your page within the site's main navigation</li>
  <li>Install a different <a href="https://wordpress.org/themes/">theme</a></li>
  <li>Install a <a href="https://wordpress.org/plugins/">plugin</a></li>
</ul>
</Layout>
