---
const title = "Exercises";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
   <h3>Hosted WordPress with Custom Theme</h3>
<p>
  For this exercise, you will deploy a WordPress site to your hosting (It
  needn't be the same site as the previous exercise). Your deployed WordPress
  site will utilize a custom theme designed and developed by you. Your theme
  needn't be completely polished, but should demonstrate your ability to add
  custom styling to a WordPress site.
</p>
<p>
  We will allocate time in class to ensure you are able to deploy a WordPress
  site, but you may need time out of class to complete this exercise.
</p>

</Layout>
