---
const title = "Accessibility";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <h2>WCAG Accessibility</h2>
  <p>
    The Web Content Accessibility Guidelines (WCAG) are technical standards for
    making content accessible to the disabled.
  </p>

  <ul>
    <li>
      <a href="https://www.w3.org/WAI/fundamentals/accessibility-intro/"
        >W3 Intro on Accessibility</a
      >
    </li>
    <li>
      <a href="https://www.w3.org/TR/WCAG21/"
        >Web Content Accessibility Guidelines (WCAG) 2.1</a
      >
    </li>
    <li>
      <a href="https://www.w3schools.com/accessibility/index.php"
        >W3 Schools Accessibility Tutorial</a
      >
    </li>
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Reference/Roles/button_role"
        >ARIA: button role</a
      >
    </li>
    <li>
      <a href="https://www.audioeye.com/post/10-best-fonts-for-dyslexia/"
        >Best Fonts for Dyslexia</a
      >
    </li>
    <li>
      <a
        href="https://afb.org/blindness-and-low-vision/using-technology/assistive-technology-products/screen-readers"
        >Screen Readers - AFB</a
      >
    </li>
  </ul>
  <h2>Checklists</h2>
  <ul>
    <li>
      <a href="https://webaim.org/standards/wcag/checklist">WebAIM Checklist</a>
    </li>
    <li>
      <a href="https://accessible.org/wcag/#wcag-2-0-2-1-aa"
        >Accessible.org WCAG Checklist</a
      >
    </li>
  </ul>

  <h2>Performance</h2>
  <ul>
    <li><a href="https://validator.w3.org/">W3C Validator</a></li>
    <li><a href="https://pagespeed.web.dev">PageSpeed</a></li>
    <li>
      <a href="https://developer.chrome.com/docs/lighthouse/overview"
        >Chrome Lighthouse</a
      >
    </li>
  </ul>

  <h2>Color Pickers</h2>
  <ul>
    <li>
      <a href="https://color.adobe.com/create/color-contrast-analyzer"
        >Adobe Color</a
      >
    </li>
    <li>
      <a href="https://webaim.org/resources/contrastchecker/"
        >WebAIM Contrast Checker</a
      >
    </li>
    <li><a href="http://colorsafe.co/">Colorsafe</a></li>
    <li><a href="https://accessiblepalette.com/">Accessible Palette</a></li>
    <li>
      <a href="https://venngage.com/tools/accessible-color-palette-generator"
        >Venngage Accessible color palette generator</a
      >
    </li>
  </ul>
</Layout>
