<nav id="primary-nav">
  <div id="inner-nav">
    <ul>
     <li class="group">
       <a href="#">Development Environment</a>
       <input type="image" src="images/arrow.svg" alt="arrow button">
       <div>
         <ul>
           <li><a href="#">Text Editors</a></li>
           <li><a href="#">Plugins</a></li>
           <li><a href="#">Browser Inspectors</a></li>
         </ul>
       </div>
     </li>
     <li><a href="#">Wireframing</a></li>
     <li><a href="#">Color Palettes</a></li>
     <li><a href="#">Style Guides</a></li>
     <li class="group"><a href="#">Starter Kits</a>
       <ul>
         <li><a href="#">HTML5 Boilerplate</a></li>
         <li><a href="#">Folder Structure</a></li>
       </ul>
     </li>
     <li><a href="#">Web Fonts</a></li>
     <li><a href="#">Connect to FTP</a></li>
     <li><a href="#">CSS Media Queries</a></li>
     <li class="group">
       <a href="#">CSS Grids</a>
       <ul>
         <li><a href="#">Frameworks</a></li>
       </ul>
     </li>
     <li><a href="#">Responsive Navigation</a></li>
     <li><a href="#">Intro to JavaScript</a></li>
     <li><a href="#">JQuery</a></li>
     <li class="group">
       <a href="#">JQuery Plugins</a>
       <ul>
         <li><a href="#">Carousel</a></li>
         <li><a href="#">Lightbox</a></li>
       </ul>
     </li>
     <li class="group">
       <a href="#">Web Animation</a>
       <ul>
         <li><a href="#">JavaScript</a></li>
         <li><a href="#">CSS</a></li>
       </ul>
     </li>
     <li class="group"><a href="#">PHP</a>
       <ul>
         <li><a href="#">Includes</a></li>
         <li><a href="#">Email Form</a></li>
       </ul>
     </li>
     <li><a href="#">Google Analytics</a></li>
     <li><a href="#">LESS, SASS</a></li>
     <li><a href="#">Content Management Systems</a></li>
     <li><a href="#">Business Side of design</a></li>
   </ul>
  </div>
</nav>
