---
const title = "Custom WordPress Theming";
import Layout from "../../../layouts/Layout.astro";
import { Code } from "astro:components";
---

<Layout title={title}>
  <p>
    This tutorial will get you started on building your own custom
    &quot;Classic&quot; WordPress theme.
  </p>
  <h3>What's a WordPress Theme?</h3>
  <p>
    Themes dictate the look and feel of your WordPress site. Ultimately, it's a
    folder that contains the template files for your design. At the absolute
    minimum, a custom WordPress theme needs
  </p>
  <ul>
    <li>A theme folder</li>
    <li>A style.css file</li>
    <li>An index.php file</li>
  </ul>
  <ol>
    <li>
      <strong>Create the theme folder</strong>
      <ol>
        <li>
          In your WordPress folder, navigate to /wp-content/themes. This is
          where all of your installed themes are located.
        </li>
        <li>
          Create a new folder. The name of the folder should be lowercase with
          no spaces. You can name it what you like, but for this tutorial we'll
          use my-first-theme. The path should be
          /wp-content/themes/my-first-theme/
        </li>
      </ol>
    </li>
    <li>
      <strong>Create your style.css file</strong>
      <ol>
        <li>
          Inside of your theme folder, create a file named style.css. Within
          that file, add the following code:
          <Code
            lang="css"
            code=`/*
Theme Name: My First Theme
Theme URI: https://example.com/my-first-theme
Author: Your Name
Author URI: https://example.com
Description: My custom WordPress theme.
Version: 1.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: my-first-theme
*/`
          />

          <p>
            This comment block is required, as it is what displays when you
            navigate to the appearance portion of your WordPress admin. Feel
            free to customize it with your own information.
          </p>
        </li>
        <li>Below this, you can start adding your own custom CSS.</li>
      </ol>
    </li>
    <li>
      <strong>Create a screenshot.png</strong>
      <ol>
        <li>
          Create a 1200x900px image named screenshot.png (No transparency) that
          represents your theme. This will serve as the image preview within the
          WordPress admin, so you might want to use a screenshot of your design.
        </li>
        <li>
          Save this file in your custom theme folder. WordPress will
          automatically detect it.
        </li>
      </ol>
    </li>
    <li>
      <strong>Creating index.php with &quot;the Loop&quot;</strong>
      <ol>
        <li>
          Inside of your theme folder, create a file named index.php. Add the
          following into the file:
          <Code
            lang="php"
            code=`<?php get_header(); ?>

<main>
  <?php if ( have_posts() ) : ?>

    <?php while ( have_posts() ) : the_post(); ?>
      <article>
        <h2><?php the_title(); ?></h2>
        <div><?php the_content(); ?></div>
      </article>
    <?php endwhile; ?>

  <?php else : ?>
    <p>No content found.</p>
  <?php endif; ?>
</main>

<?php get_footer(); ?>

`
          />
        </li>
        <p>
          This serves as the main template of your theme. All pages and posts
          ultimately get rendered through this page. See <a
            href="https://developer.wordpress.org/themes/classic-themes/basics/template-hierarchy/"
            >the template hierarchy</a
          >.
        </p>
        <p>&nbsp;</p>
      </ol>
    </li>
    <li>Create a header.php and footer.php<br /></li>
  </ol>
</Layout>
