---
const title = "Project 3: News Website (220 points)";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <h3>Description:</h3>
<p>
  You will create a website that incorporates feeds and posts (Think blogs or
  news websites). The challenge will be to design an interface that incorporates
  (mock) functionality like sharing, liking, and comments, as well as supporting
  scale. Will your interface accommodate hundreds of articles? Will your
  template design support long titles or comments? Also consider how you will
  incorporate dates and author attribution. For additional authenticity, you
  might incorporate a
  <a href="https://schema.org/" target="_blank">Schema structure</a>.
</p>
<p>
  The subject matter is up to you, but your research should reflect your theme.
  Once again, to optimize your time, consider using
  <a href="/resources/images-icons/">stock images</a>.
</p>
<h3>Development Requirements:</h3>
<ol>
  <li>
    Your Figma design should be
    <a
      href="https://help.figma.com/hc/en-us/articles/360040314193-Guide-to-prototyping-in-Figma"
      >interactive</a
    >.
  </li>
  <li>This project should be built using a custom theme in WordPress.</li>
  <li>
    Given the material, you should be using the
    <a href="https://www.w3schools.com/tags/tag_article.asp" target="_blank"
      >article</a
    >
    tag.
  </li>
  <li>
    No page count, but your site should have multiple articles with the ability
    to scale
  </li>
  <li>Your finished project should be at yoursite.com/projects/project-3</li>
</ol>
<h3>Process:</h3>
<ol>
  <li>
    <strong>Content.</strong>You will assemble all of the content to be
    displayed in your site.
  </li>
  <li>
    <strong>Sitemap/Wireframing.</strong> You will develop a sitemap outlining
    the sections of your site, which will then be expanded further during a
    wireframe phase.
  </li>
  <li>
    <strong>Design.</strong> Upon wireframe approval, you will create a design
    based on the wireframe. At this stage, you will choose the colors, images,
    fonts, and styles for the site.
  </li>
  <li>
    <strong>Design Critique.</strong> You will take part in an in-class design
    critique where you will provide constructive criticism to your classmates on
    their designs, as well as receive feedback on yours.
  </li>
  <li>
    <strong>Development.</strong> You will proceed to develop the website on
    your local machine. Upon completion, it will be uploaded to your website.
  </li>
  <li>
    <strong>Final Critique.</strong> You will participate in a final group
    critique where we review each of the project.
  </li>
</ol>
<h3>Deadlines and Grading Criteria:<br /></h3>
<table>
  <tr>
    <td><strong>Description</strong></td>
    <td>
      <p><strong>Due Date</strong></p>
    </td>
    <td>
      <p><strong>Points</strong></p>
    </td>
  </tr>
  <tr>
    <td><p>Research and Sitemap</p></td>
    <td><p>March 24</p></td>
    <td><p>30</p></td>
  </tr>
  <tr>
    <td><p>Content, Wireframes</p></td>
    <td><p>March 26</p></td>
    <td><p>50</p></td>
  </tr>
  <tr>
    <td><p>Design</p></td>
    <td><p>April 2</p></td>
    <td><p>70</p></td>
  </tr>
  <tr>
    <td><p>Page Template</p></td>
    <td><p>April 9</p></td>
    <td><p>-</p></td>
  </tr>
  <tr>
    <td>Published Site</td>
    <td><p>April 14</p></td>
    <td><p>70</p></td>
  </tr>
</table>
</Layout>
