---
const title = "Project 1: Social Media Prototype Site (180 points)";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <!-------------------------------------------------------------------------------
- Consider dark/light mode toggle example
- Consider favorite button that maintains state
- Consider Lightbox
- Consider a table for comments
- Consider a disabled class that makes the UI opaque and disabled cursor events
- Login form that persists user name via cookie or local storage
-------------------------------------------------------------------------------->
<h3>Description:</h3>
<p>
  What if your client needed an interactive walk-through of an application with
  a higher fidelity than Figma? What if they wanted to impress potential
  investors with the HTML foundation of an application? <br /><br />This isn't
  an uncommon request in the business world.
</p>
<p>
  Your task is creating the branding and design for a social media site that
  allows for the sharing, commenting, and uploading of media. Consider this as
  if it were a tool as a part of a sales pitch for building a website along the
  lines of
  <a
    rel="noopener"
    href="/content/enforced/315323-39576.202430/Instagram.com"
    target="_blank"
    >Instagram.com</a
  >,
  <a rel="noopener" href="https://www.flickr.com" target="_blank">Flickr.com</a
  >,
  <a rel="noopener" href="https://www.behance.net/" target="_blank"
    >Behance.net</a
  >,
  <a rel="noopener" href="https://dribbble.com/" target="_blank">Dribbble.com</a
  >, etc. The name, branding, and specific nature of the site's theme are up to
  you. Will it be for sharing photography? Illustration? Design?
</p>
<p>
  A site of this nature could potentially scale to thousands of pages with many
  users, so your responsibility will be to identify major page templates used by
  the site and create a site that someone can navigate through.
</p>
<p>
  The design should include "like" buttons, tagging, commenting, and
  login/logout indications. You will also need to consider the naming
  conventions and organization of your CSS. Consider
  <a rel="noopener" href="https://getbem.com/" target="_blank">BEM</a> or
  another naming convention.
</p>
<p>
  While the finished site should be visually polished, it needn't be fully
  functional. For instance, you could place an image upload or comment form, but
  the forms won't actually function. For the images themselves, you can use
  placeholder services such as
  <a rel="noopener" href="http://pravatar.cc" target="_blank"
    >http://pravatar.cc</a
  >
  or
  <a rel="noopener" href="https://loremfaces.com/" target="_blank"
    >https://loremfaces.com</a
  >
  for avatars and
  <a rel="noopener" href="https://placeimg.com" target="_blank"
    >https://placeimg.com</a
  >
  or
  <a rel="noopener" href="https://stablediffusionweb.com/" target="_blank"
    >https://stablediffusionweb.com/</a
  >
  for mock photo uploads. For mock comments, lorem ipsum is fine.
</p>
<p>
  You may want to propose navigation and links that are outside of the scope of
  your prototype. In cases like this, consider creating a disabled style that
  visually stands out from plain text. See this
  <a href="https://css-tricks.com/how-to-disable-links/"
    >CSS Tricks article on disabling links.</a
  >
</p>
<h3>Development Requirements:</h3>
<ul>
  <li>
    While not fully-functioning, the site should be easy to navigate,
    responsive, and published to your website.
  </li>
  <li>
    It should be clear what portions of the site are not functional/disabled.
    Consider creating a disabled class that makes the UI opaque and disabled
    cursor events.
  </li>
  <li>The site must utilize a favicon.</li>
  <li>The site must contain a table (consider it for comments).</li>
  <li>Website should contain proper page titles for SEO.</li>
  <li>
    The site should incorporate JavaScript in some way--consider a dark/light
    toggle, favorite button that maintains state, or a Lightbox.
  </li>
  <li>The site should incorporate server-side includes with PHP.</li>
</ul>
<div class="links">
  <h3>UX to Consider</h3>
  <h4>Sign Up, Log-In, Login?</h4>
  <ul>
    <li>
      <a
        rel="noopener"
        href="https://uxplanet.org/18-ux-design-tips-for-registration-and-login-forms-f897557358ba"
        >https://uxplanet.org/18-ux-design-tips-for-registration-and-login-forms-f897557358ba</a
      >
    </li>
    <li>
      <a
        rel="noopener"
        href="https://uxmovement.com/buttons/why-sign-up-and-sign-in-button-labels-confuse-users/"
        >https://uxmovement.com/buttons/why-sign-up-and-sign-in-button-labels-confuse-users/</a
      >
    </li>
    <li>
      <a
        rel="noopener"
        href="https://uxplanet.org/designing-ux-login-form-and-process-8b17167ed5b9"
        >https://uxplanet.org/designing-ux-login-form-and-process-8b17167ed5b9</a
      >
    </li>
  </ul>
  <h4>Button Sizes</h4>
  <ul>
    <li>
      <a
        rel="noopener"
        href="https://uxmovement.com/mobile/optimal-size-and-spacing-for-mobile-buttons/"
        >https://uxmovement.com/mobile/optimal-size-and-spacing-for-mobile-buttons/</a
      >
    </li>
    <li>
      <a
        rel="noopener"
        href="https://www.smashingmagazine.com/2012/02/finger-friendly-design-ideal-mobile-touchscreen-target-sizes/"
        >https://www.smashingmagazine.com/2012/02/finger-friendly-design-ideal-mobile-touchscreen-target-sizes/</a
      >
    </li>
  </ul>
  <h4>Search Boxes</h4>
  <ul>
    <li>
      <a
        rel="noopener"
        href="https://www.uxbooth.com/articles/best-practices-for-search/"
        >https://www.uxbooth.com/articles/best-practices-for-search/</a
      >
    </li>
    <li>
      <a
        rel="noopener"
        href="https://uxdesign.cc/best-ux-practices-for-search-inputs-c44dba565448"
        >https://uxdesign.cc/best-ux-practices-for-search-inputs-c44dba565448</a
      >
    </li>
    <li>
      <a
        rel="noopener"
        href="https://uxplanet.org/search-interface-20-things-to-consider-4b1466e98881"
        >https://uxplanet.org/search-interface-20-things-to-consider-4b1466e98881</a
      >
    </li>
  </ul>
</div>
<h3>Process:</h3>
<ul>
  <li>
    <strong>Sitemap + Research.</strong> Draw a sitemap in FigJam outlining the
    structure of the website. Publish a link to it, along with the review of
    three social media sites to the D2L Discussion board.
  </li>
  <li>
    <strong>Wireframes. </strong>Develop a wireframe outlining all the major
    pages and interactions.
  </li>
  <li>
    <strong>Branding.</strong> Choose a minimum of two fonts and five colors.
    The logo is up to you. Establish iconography.
  </li>
  <li>
    <strong>Design.</strong> Upon wireframe approval, create interactive designs
    in Figma based on the wireframe. Your files should use components, a color
    palette, and text styles where applicable.
  </li>
  <li>
    <strong>Design Critique.</strong> You will take part in an in-class design
    critique where you will provide constructive criticism to your classmates on
    their designs, as well as receive feedback on yours.
  </li>
  <li>
    <strong>Revisions.</strong> You will revise your design to address
    improvements uncovered during the critique stage.
  </li>
  <li>
    <strong>Development.</strong> You will proceed to build the website. Upon
    completion, it will be uploaded to your website.
  </li>
  <li>
    <strong>Final Critique.</strong> You will participate in a final group
    critique where we review each of the projects.
  </li>
</ul>
<h3>Deadlines and Grading Criteria:</h3>
<table>
  <tbody>
    <tr>
      <td><strong>Description</strong></td>
      <td>
        <p><strong>Due Date</strong></p>
      </td>
      <td>
        <p><strong>Points</strong></p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Research + Sitemap</p>
      </td>
      <td>
        <p>January 27</p>
      </td>
      <td>
        <p>20</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Content + Wireframes</p>
      </td>
      <td>
        <p>February 3</p>
      </td>
      <td>
        <p>40</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Website Design</p>
      </td>
      <td>
        <p>February 5</p>
      </td>
      <td>
        <p>60</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Page Template</p>
      </td>
      <td>
        <p>February 10</p>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>
        <p>Published Site</p>
      </td>
      <td>
        <p>February <span style="text-decoration: line-through">17</span> 19</p>
      </td>
      <td>
        <p>60</p>
      </td>
    </tr>
  </tbody>
</table>

</Layout>
