---
const title = "Event Promotion Website (200 points)";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
<h3>Project Description:</h3>
<p>
  You will create a responsive and interactive design for a mock event website.
  The venue, event information, and details are up to you--It can be a concert,
  technical conference, etc.
</p>
<p>
  Your designs should include two interactive pieces—one for desktop (up to
  1920px width) and one for mobile (320px width to represent portrait mode on
  mobile devices). Your Figma designs should be using components, text styles,
  and color variables.
</p>
<p>
  For development, you will partner with another student in which you will swap
  projects--they will build your project and you will build theirs. Your grade
  will be based on how well you execute their design. The finished responsive
  site should be built using Astro.
</p>
<h3>Requirements:</h3>
<ol>
  <li>Your design should work responsively with no horizontal scrolling.</li>
  <li>The SVG version of the logo must be used.</li>
  <li>Your design should use at least one (1) non-system web font.</li>
  <li>Images should scale responsively.</li>
  <li>Your page should include a favicon and a touch icon.</li>
  <li>Your design should have a functioning responsive navigation.</li>
  <li>Your finished project should be published on your website.</li>
  <li>
    this project should be created using
    <a href="https://astro.build/" target="_blank">Astro</a>.
  </li>
</ol>
<h3>Process:</h3>
<ol>
  <li>
    <strong>Research and Sitemap</strong> Find 3-5 event websites and write a
    critique. Establish a site map of a minimum of 5 pages.
  </li>
  <li>
    <strong>Sketches/Wireframing.</strong> You will develop a desktop and mobile
    wireframes outlining all of the major elements in your site.
  </li>
  <li>
    <strong>Design.</strong> Upon wireframe approval, you will create designs
    based on your wireframes. You should be designing the desktop and mobile
    versions in parallel, and ensure that both present identical messages.
  </li>
  <li>
    <strong>Design Critique.</strong> You will take part in an in-class design
    critique where you will provide constructive criticism to your classmates on
    their designs, as well as receive feedback on yours.
  </li>
  <li>
    <strong>Revisions.</strong> You will revise the design, if necessary, to
    address improvements uncovered during the critique.
  </li>
  <li>
    <strong>Development.</strong> You will proceed to develop the website in
    your local environment. Upon completion, the finished site should be
    published on your website.
  </li>
  <li>
    <strong>Final Critique.</strong> You will participate in a final group
    critique where we review each of the sites.
  </li>
</ol>
<h3>Deadlines and Grading Criteria:</h3>
<table>
  <tr>
    <td>
      <strong>Description</strong>
    </td>
    <td>
      <p><strong>Due Date</strong></p>
    </td>
    <td>
      <p><strong>Points</strong></p>
    </td>
  </tr>
  <tr>
    <td><p>Research and Sitemap</p></td>
    <td><p>February 19</p></td>
    <td><p>25</p></td>
  </tr>
  <tr>
    <td><p>Wireframes and Content</p></td>
    <td><p>February 24</p></td>
    <td><p>25</p></td>
  </tr>
  <tr>
    <td><p>Design</p></td>
    <td><p>February 26</p></td>
    <td><p>50</p></td>
  </tr>
  <tr>
    <td><p>Page Template</p></td>
    <td><p>March 5</p></td>
    <td><p>-</p></td>
  </tr>
  <tr>
    <td>Published Site</td>
    <td><p>March 19</p></td>
    <td><p>100</p></td>
  </tr>
</table>
</Layout>
