<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>template</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header id="primary-header" class="container-fluid">
      <div class="row">
        <div class="col">
          <h1>Art 114: Web Design</h1>
          <a class="nav-toggle" href="#">&#9776; MENU</a>
        </div>
      </div>
    </header>
    <main>
        <div id="site-canvas">
            <div id="site-panel">
               <a class="nav-toggle" href="#">X</a>
               <nav id="primary-nav">
                 <ul>
                   <li class="group"><a href="#">Development Environment
                     <ul>
                       <li><a href="#">Text Editors</a></li>
                       <li><a href="#">Plugins</a></li>
                       <li><a href="#">Browser Inspectors</a></li>
                     </ul>
                   </a></li>
                   <li><a href="#">Wireframing</a></li>
                   <li><a href="#">Color Palettes</a></li>
                   <li><a href="#">Style Guides</a></li>
                   <li class="group"><a href="#">Starter Kits
                     <ul>
                       <li><a href="#">HTML5 Boilerplate</a></li>
                       <li><a href="#">Folder Structure</a></li>
                     </ul>
                   </a></li>
                   <li><a href="#">Web Fonts</a></li>
                   <li><a href="#">Connect to FTP</a></li>
                   <li><a href="#">CSS Media Queries</a></li>
                   <li class="group"><a href="#">CSS Grids
                     <ul>
                       <li><a href="#">Frameworks</a></li>
                     </ul>
                   </a></li>
                   <li><a href="#">Responsive Navigation</a></li>
                   <li><a href="#">Intro to JavaScript</a></li>
                   <li><a href="#">JQuery</a></li>
                   <li class="group"><a href="#">JQuery Plugins
                     <ul>
                       <li><a href="#">Carousel</a></li>
                       <li><a href="#">Lightbox</a></li>
                     </ul>
                   </a></li>
                   <li class="group"><a href="#">Web Animation
                     <ul>
                       <li><a href="#">JavaScript</a></li>
                       <li><a href="#">CSS</a></li>
                     </ul>
                   </a></li>
                   <li class="group"><a href="#">PHP
                     <ul>
                       <li><a href="#">Includes</a></li>
                       <li><a href="#">Email Form</a></li>
                     </ul>
                   </a></li>
                   <li><a href="#">Google Analytics</a></li>
                   <li><a href="#">LESS, SASS</a></li>
                   <li><a href="#">Content Management Systems</a></li>
                   <li><a href="#">Business Side of design</a></li>
                 </ul>
               </nav>
            </div>

            <div id="content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-9">
                      <h1>page</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, numquam cupiditate ipsa nobis, pariatur a temporibus ratione perspiciatis delectus quia, sint obcaecati. Corrupti ipsam quae tenetur, hic possimus delectus quidem.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="primary-footer" class="container-fluid">
      <div class="row">
        <div class="col">
          <p>&copy;2017</p>
        </div>
      </div>
    </footer>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/tether/dist/js/tether.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
