<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    #column{
      width: 20%;
      padding: 1em;
    }
  </style>
</head>
<body>
  <div id="column">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi praesentium minus ullam atque ducimus autem aliquid doloribus, quas labore. Odio aspernatur temporibus nostrum optio non atque illum numquam officiis, deserunt.</p>
    <a href="#" id="top-button">Scroll</a>
  </div>
  <script>

  document.querySelector('#top-button').addEventListener('click', function(event){
    event.preventDefault();
    window.scroll({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });
  });

  </script>
</body>
</html>
