<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}

      <div id="main">
        {% include nav.html %}

        <div id="content">
          <div id="inner-content">
            <h1>{{ page.title }}</h1>
            {{ content }}
<!--
            {% highlight javascript %}
            var test = 'hi';
            {% endhighlight %}


            <h1>1 Heading</h1>
            <h2>2 Heading</h2>
            <h3>3 Heading</h3>
            <h4>4 Heading</h4>
            <h5>5 Heading</h5>
            <h6>6 Heading</h6>
            {% highlight html %}<h1>Hello.</h1>{% endhighlight %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro esse deleniti sunt voluptates sequi vel impedit, doloremque itaque animi ipsam voluptatum eum culpa. Minima eaque dolorem facilis voluptatum iste.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro esse deleniti sunt voluptates sequi vel impedit, doloremque itaque animi ipsam voluptatum eum culpa. Minima eaque dolorem facilis voluptatum iste.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro esse deleniti sunt voluptates sequi vel impedit, doloremque itaque animi ipsam voluptatum eum culpa. Minima eaque dolorem facilis voluptatum iste.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro esse deleniti sunt voluptates sequi vel impedit, doloremque itaque animi ipsam voluptatum eum culpa. Minima eaque dolorem facilis voluptatum iste.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro esse deleniti sunt voluptates sequi vel impedit, doloremque itaque animi ipsam voluptatum eum culpa. Minima eaque dolorem facilis voluptatum iste.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro esse deleniti sunt voluptates sequi vel impedit, doloremque itaque animi ipsam voluptatum eum culpa. Minima eaque dolorem facilis voluptatum iste.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro esse deleniti sunt voluptates sequi vel impedit, doloremque itaque animi ipsam voluptatum eum culpa. Minima eaque dolorem facilis voluptatum iste.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro esse deleniti sunt voluptates sequi vel impedit, doloremque itaque animi ipsam voluptatum eum culpa. Minima eaque dolorem facilis voluptatum iste.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro esse deleniti sunt voluptates sequi vel impedit, doloremque itaque animi ipsam voluptatum eum culpa. Minima eaque dolorem facilis voluptatum iste.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro esse deleniti sunt voluptates sequi vel impedit, doloremque itaque animi ipsam voluptatum eum culpa. Minima eaque dolorem facilis voluptatum iste.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro esse deleniti sunt voluptates sequi vel impedit, doloremque itaque animi ipsam voluptatum eum culpa. Minima eaque dolorem facilis voluptatum iste.</p>

-->
            {% include footer.html %}
          </div>
          </div>

          </div>
          <script src="{{ "/scripts/main.js" | prepend: site.baseurl }}"></script>
</body>
</html>
