---
const title = "JavaScript Functions";
import Layout from "../../../layouts/Layout.astro";
import { Code } from "astro:components";
---

<Layout title={title}>
  <p>
    Functions are reusable blocks of code. They help with organization,
    encapsulation, and reducing repetition.
  </p>
  <p>Function Declaration (Named Function):</p>
  <Code
    code={`function greet(name) { // Function definition
  return \`Hello, \${name}!\`; // Function body
}
console.log(greet("Alice")); // Function call`}
    lang="javascript"
  />

  <p>Function expression:</p>
  <Code
    code={`const multiply = function(a, b) {
  return a * b;
};
console.log(multiply(3, 5)); // Output: 15`}
    lang="javascript"
  />

  <p>Arrow Function (ES6):</p>
  <Code
    code={`const divide = (a, b) => {a / b}; 
console.log(divide(10, 2)); // Output: 5 `}
    lang="javascript"
  />

  <h2>Arguments</h2>
  <Code
    code={`const sayHello = (name) => {
  console.log(\`Hello \${name}\`);
}`}
    lang="javascript"
  />
</Layout>
