body{
    background-color: #ccc;
}
main{
    width:920px;
    margin:0 auto;
    background-color: #fff;
    padding:20px;
}
@media(max-width:960px){
    main{
        width:80%;
        padding:10%;
    }
}

header, footer{
    text-align: center;
    background-color: #ccc;
    padding:20px;
}

#mainnav{
    margin:20px 0;
}
#mainnav ul{
    text-align:center; 
    margin:0;
    padding:0;
}
#mainnav li{
    transition: all 0.4s linear;
    list-style:none; 
    display:inline-block; 
    background:#eee; 
    padding:5px 20px; 
    margin:0 5px;
}
#mainnav a{text-decoration:none;}

@media(max-width:960px){
   #mainnav li{
    display:block; 
    padding:5px 20px; 
    margin:0;
   } 
}
#ad{
    padding:20px;
    background:pink;
}
@media(max-width:960px){
    #ad{
        display:none;
    }
}

.row{
    padding-bottom: 20px;
}
.column-70{
    width:624px;
    padding-left:20px;
    float:left;
    background-color: aqua;
}

.column-70 img{
    max-width:560px;
    width:100%;
    height:auto;
}

.column-30{
    width:276px;
    float:right;
    background-color:dodgerblue;
}
@media(max-width:960px){
    .column-70{
        width:100%;
        padding-left:0;
        float:none;
    }
    .column-30{
        width:100%;
        float:none;
    } 
}

.clearfix{clear:both;}
